services:
  redis:
    image: redis
    container_name: redis
    command: redis-server --appendonly yes --replica-read-only no
    ports:
      - "6379:6379"
    environment:
      - REDIS_PASS=${REDIS_PASS}
    networks:
      - bincang_net

  golang_app:
    image: bincang_visual
    container_name: bincang_visual
    build:
      context: .
      dockerfile: Dockerfile
    ports: # host:container
      - 8080:8080
    environment:
      - REDIS_URL=redis:6379
      - REDIS_PASS=${REDIS_PASS}
    restart: always
    depends_on:
      - redis
    networks:
      - bincang_net

networks:
  bincang_net:
    driver: bridge
