services:
  app:
    image: bincang_visual
    container_name: bincang_visual
    build:
      context: .
      dockerfile: Dockerfile
    ports: # host:container
      - 8080:8080
    restart: always
