services:
  app:
    image: bincang_visual
    container_name: bincang_visual
    build:
      context: .
      dockerfile: Dockerfile
    ports: # host:container
      - 8080:8080
    restart: always
    environment:
      - REDIS_URL=${REDIS_URL}
      - REDIS_PASS=${REDIS_PASS}

networks:
  bincang_net:
    external: true
