name: Deploy
on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: pull-test-deploy
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        redis_pass: ${{ secrets.REDIS_PASS }}
        redis_url: ${{ secrets.REDIS_URL }}
        script: |
          cd /home/farhan/go/src/bincang-visual
          git pull origin master
          go test -v ./..
          docker compose down && docker compose up --build -d --remove-orphans